@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-span: "span", serif;
  --bw: 1440;
}

@media (max-width: 767.98px) {
  :root {
    --bw: 375;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  :root {
    --bw: 480;
  }
}

html.lenis-stopped {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0px; /* Set a smaller width for the scrollbar */
}

/* Define the style for the scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Set the color of the scrollbar track */
}

/* Define the style for the scrollbar thumb */
::-webkit-scrollbar-thumb {
  /* Set the color of the scrollbar thumb */
  background: #d0d0d0;
  border-radius: 0.5rem;
}

/* Define the style for the scrollbar thumb when being hovered */
::-webkit-scrollbar-thumb:hover {
  background: #787878; /* Set the color of the scrollbar thumb on hover */
}

ul {
  @apply list-disc;
}

.animate-marquee {
  animation: marquee 15s linear infinite;
  white-space: nowrap;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
